* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #3f84b5e3;
}

#root {
  // height: 100vh;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  margin: 50px 0;
  // min-width: 700px;
}


.header {
  height: 80px;
  display: flex;
  padding: 0 50px;
  align-items: center;

  &__line {
    width: 85%;
    margin-bottom: 50px;
    opacity: 0.2;
  }
}

.add-product {
  display: flex;
  align-items: center;

  &__input-name {
    width: 265px;
    margin-right: 10px;
  }

  &__input-price {
    width: 90px;
    margin-right: 10px;
  }

  &__input-count {
    width: 90px;
    margin-right: 10px;
  }

  &__btn {
    background-color: #ffa500;
    color: white;
    text-transform: uppercase;
  }
}

.btn {
  width: 160px;
  height: 48px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(0, 0, 0, 0.1),
    inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  border: 0;
  cursor: pointer;
  font-size: 18px;
  line-height: 13px;
  font-weight: 700;

  &:focus {
    outline: none;
  }
}

.input {
  border: 1px solid #2b292d33;
  border-radius: 3px;
  padding-left: 15px;
  height: 48px;

  &:focus {
    outline: none;
  }
}


.table {
  // border: 1px solid red;
  border-collapse: collapse;
  background-color: #fff;
}

th, td, tr {
  padding: 10px;
  border: 1px solid #3f84b5e3;
}

.table-header {
  &__name {
    width: 400px;
    cursor: pointer;
  }
  &__count {
    width: 80px;
    cursor: pointer;
  }
  &__price {
    width: 140px;
    text-align: center;
    cursor: pointer;
  }
}

.product-name {
  width: 400px;

  &__detail {
    display: flex;
    justify-content: space-between;
  }
}
.product-count {
  width: 100px;
  text-align: center;

  &__input {
    width: 40px;
    outline: none;
  }
}
.product-price {
  text-align: center;
}
.total {
  font-weight: 700;
  text-align: center;
}
.total-price {
  text-align: center;
  font-weight: 700;
}

.product-delete {
  color: red;
  cursor: pointer;
}

.error {
  border:  1px solid red;
}